<div class="login">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-offset-4">
              <div class="login-box">

  <h2>Add New Assignment</h2>

  <%= form_for(@assignment) do |f| %>
    <div class="field">
    <br />
    <%= f.text_field :title, autofocus: true, placeholder: "Assignment title", class: "form-control" %>
    <br>
    </div>
    <div class="field">
    <br>
    <%= f.date_field :due_date, class: "form-control", placeholder: "Due Date"%>
    <br>
    </div>
    <div class="field">
    <br>
    <%= f.label :instructions, "Assignment Instructions" %>
    <%= f.text_area :instructions, placeholder: "Assignment Instructions", class: "form-control text-area", size: "30x10" %>
    <br>
    </div>
    <div class="field">
    <br>
    <%= f.label :teacher_comments, "Teacher Comments" %>
    <%= f.text_area :teacher_comments, placeholder: "Teacher Comments", class: "form-control text-area", size: "30x5" %>
    <br>
    </div>
    <br>
    <div class="file">
    <%= f.label :file, "File (PDF Only)" %>
    <%= f.file_field :file, class: "filebutton"%>
    </div>
    <br><br>
    <div class="actions">
    <%= f.submit "Add Assignment", class: "float" %>
    </div>
  <% end %>
</div>
</div>
</div>
</div>
</div>
