<!DOCTYPE html>
<html>
<head>
  <title>Cluster</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
      <div class="container topnav">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <ul class="nav navbar-nav navbar-right">
                <li class="animated tada"><%= link_to "Cluster", root_path, class: "navbar-brand topnav"%></li>
                <% if user_signed_in? %>
                <li><%= link_to current_user.first_name, '#' %></li>
                <% end %>
              </ul>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <% if !user_signed_in? %>
                  <li><%= link_to 'Sign In', new_user_session_path %></li>
                  <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                  <% else %>
                  <li><%= link_to 'Assignments', assignments_path %></li>
                    <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                <% end %>
                  <li><a href="/#contact">Contact</a></li>
              </ul>
          </div>
      </div>
  </nav>

  <%- flash.each do |key, value| -%>
  <div class="flash flash-<%= key %>">
    <%= value %>
  </div>
<%- end -%>

<%= yield %>

</body>
<footer>
  <p>Cluster: <i>Astronomy.</i> a group of neighboring stars, held together by mutual gravitation,<br>
    that have essentially the same age and composition and thus supposedly a common origin.</p><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li><%= link_to "Cluster", root_path %></li>
                    <li class="footer-menu-divider">&sdot;</li>
                  <% if !user_signed_in? %>
                    <li><%= link_to 'Sign In', new_user_session_path %></li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                  <% else %>
                    <li><%= link_to current_user.first_name, '#' %></li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li><%= link_to 'Assignments', assignments_path %></li>
                    <% end %>
                    <li class="footer-menu-divider">&sdot;</li>
                  <li><a href="#contact">Contact</a></li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; Olivia Reeve 2016. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>


</html>
